.VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none !important;
  }
  .VIpgJd-ZVi9od-ORHb-OEVmcd skiptranslate{
      color: transparent;
  }
  
  .goog-te-menu-frame {
    display: none !important; 
  }
  
  body .goog-tooltip {
    display: none !important; 
  }
  
  body .goog-tooltip:hover {
    display: none !important; 
  }
  
  body .goog-te-banner-frame {
    display: none !important; 
  }
  